::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}
body {
	background: rgba(255, 255, 255, 1);
	font-family: "sabon lt";
	margin: 0px;
	padding: 50px;
	color: rgba(0, 0, 0, 1);
	transition: 0.5s;
}

ul.no-bullet { list-style-type: none; }

nav {
	height: 100%;
	width: 15%;
	display: block;
	z-index: 1;
	top: 0;
	left: 0;
	transition: 0.5s;
}
nav ul li {
	height: 25px;
	text-align: center;
	white-space: nowrap;
}
nav ul li.navnav {
	cursor: pointer;
	transition-duration: 0.1s;
}
nav ul li.navnav:hover { color: rgba(255, 0, 0, 1); }

div.container {
	text-align: right;
	width: 85%;
	float: right;
	transition-duration: 0.1s;
}
div.nav {
	position: fixed;
	padding: 25px 0 25px 0;
}
div.container div { padding: 10px; }
div.element { transition-duration: 0.1s; }
div.element > p:last-of-type > span.info { margin-right: 50px; }

h3 {
	letter-spacing: 3px;
	text-align: center;
}

li.blank-element { height: 25px; }

img.ms-logo {
	height: 5%;
	width: 5%;
	object-fit: cover;
}
img {
	width: 50%;
	padding: 10px;
	pointer-events: none;
}

a {
	color: inherit;
	text-decoration: none;
}

p { color: rgba(119, 119, 119, 1); }

input.form {
	width: 750px;
	border: none;
	outline: 0;
}
input[type=button], input[type=submit] { border: 1px solid black; }
input[type=button]:hover, input[type=submit]:hover {
	background: rgba(119, 0, 0, 1);
	cursor: pointer;
}

table.contact, table.contact tr, table.contact tr td {
	border-collapse: collapse;
	border: 1px solid black;
}

form input {
	outline: 0;
	text-decoration: none;
	border: none;
}

#closeNav {
	position: absolute;
	top: 0;
	font-size: xx-large;
	left: 0;
}
#closeNav:hover { cursor: pointer; }
#openNav {
	font-size: x-large;
	text-align: center;
	vertical-align: middle;
	padding: 3px;
}
#openNav:hover {
	background: rgba(238, 238, 238, 1);
	cursor: pointer;
}

.al { text-align: left; }
.dispf { display: none; }
.center { text-align: center; }
.info {
	opacity: 75%;
	font-family: monospace;
}
.current { color: rgba(153, 0, 0, 1); }
.ms-text { color: rgba(85, 85, 85, 1); }
.footer {
	position: absolute;
	bottom: 0;
	left: 10px;
	overflow: hidden;
	height: 20px;
	width: 100%;
}

@media screen and (max-height: 450px) {
	.sidenav { padding-top: 15px; }
}

@media screen and (max-width: 500px) {
	.sidenav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
		background: rgba(255, 255, 255, 1);
		border-right: 1px solid rgba(0, 0, 0, 0.1);
	}
	.sidenav a {
		padding: 8px 8px 8px 32px;
		display: block;
		transition: 0.3s;
	}
	.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		margin-left: 50px;
	}
}

@media screen and (min-width: 500px) {
	#openNav { display: none; }
	#closeNav { display: none; }
	#title { display: none; }
	div.nav {
		overflow-y: auto;
		height: 100%;
	}
}
