/* body HTML tag */
body {
	background: #FFFFFF;
	font-family: "Sabon LT Std";
	margin: 0px;
	padding: 10px;
	color: #000000;
	transition: 0.5s;
}

/* ul HTML tag */
ul.no-bullet { list-style-type: none; }

/* div HTML tag */
nav {
	height: 100%;
	width: 15%;
	display: block;
	z-index: 1;
	top: 0;
	left: 0;
	transition: 0.5s;
}
nav ul li {
	height: 25px;
	text-align: center;
	white-space: nowrap;
}
nav ul li.navnav {
	cursor: pointer;
	transition-duration: 0.1s;
}
nav ul li.navnav:hover { color: #FF0000; }
/*nav.desktop { display: block; }
nav.mobile { display: none; }*/

/* div HTML tag */
div.container {
	text-align: center;
	width: 85%;
	float: right;
	transition-duration: 0.1s;
}
div.nav { position: fixed; }
div.container div { padding: 10px; }

/* h3 HTML tag */
h3 {
	letter-spacing: 3px;
	text-align: center;
}

/* li HTML tag */
li.blank-element { height: 25px; }

/* img HTML tag */
img.ms-logo {
	height: 5%;
	width: 5%;
	object-fit: cover;
}
img {
	width: 50%;
	padding: 10px;
}

/* a HTML tag */
a {
	color: inherit;
	text-decoration: none;
}

/* p HTML tag */
p { color: #777777; }

/* input HTML tag */
input.form {
	width: 750px;
	border: none;
	outline: 0;
}
input[type=button], input[type=submit] { border: 1px solid black; }
input[type=button]:hover, input[type=submit]:hover {
	background: #770000;
	cursor: pointer;
}

/* table HTML tag */
table.contact, table.contact tr, table.contact tr td {
	border-collapse: collapse;
	border: 1px solid black;
}

/* form HTML tag */
form input {
	outline: 0;
	text-decoration: none;
	border: none;
}

/* link definitions */
#closeNav {
	position: absolute;
	top: 0;
	font-size: xx-large;
	left: 0;
}
#closeNav:hover { cursor: pointer; }
#openNav {
	font-size: x-large;
	text-align: center;
	vertical-align: middle;
	padding: 3px;
}
#openNav:hover {
	background: #EEEEEE;
	cursor: pointer;
}

/* class definitions */
.al { text-align: left; }
.dispt { display: block; transition-duration: 0.1s; }
.dispf { display: none; transition-duration: 0.1s; }
.center { text-align: center; }
.info {
	opacity: 75%;
	font-family: monospace;
}
.current { color: #770000; }
.ms-text { color: #555555; }
.footer {
	position: absolute;
	bottom: 0;
}

/* NAVBAR */
/*.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	background: #FFFFFF;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	display: block;
	transition: 0.3s;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	margin-left: 50px;
}*/

@media screen and (max-height: 450px) {
	.sidenav { padding-top: 15px; }
}
@media screen and (max-width: 500px) {
	/*nav.desktop { display: none; }
	nav.mobile { display: block; }
	#title { padding: 0; }*/
	/* NAVBAR */
	.sidenav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
		background: #FFFFFF;
		border-right: 1px solid rgba(0, 0, 0, 0.1);
	}
	.sidenav a {
		padding: 8px 8px 8px 32px;
		display: block;
		transition: 0.3s;
	}
	.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		margin-left: 50px;
	}
}
